@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --p-font: "Roboto", sans-serif;

  --p-color: #263544;
  --s-color: #1d253180;
  --a-color: #1d2531;
  --t-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--p-font);
}

body {
  margin: 0;
  font-family: var(--p-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sideContain {
  margin-left: 280px;
  padding: 1rem;
}
